@(id: String, code: String)

@pastebin("Pastebin") {
    <div id="paste-error" class="hidden">
        <div class="aui-message error shadowed closeable">
            <p class="title">
                <span class="aui-icon icon-error"></span>
                <strong>There was an error embedding the Paste!</strong>
            </p>
            <p>You can check the <a href="http://pastebin.com/@id">original paste.</a> Below is the raw code.</p>
        </div>
        @Confluence.noFormat(code)
    </div>


    <script type="text/javascript" src="http://pastebin.com/embed_js.php?i=@id"></script>
    <script type="text/javascript">
        (function ($) {
            if ($("div.embedPastebin").length == 0)
            {
                $("#paste-error").show();
            }
        })(jQuery);
    </script>
}